{
  globals: {
    define: false,
    it: false
  },

  env: {
    node: true,                               // Node.js global variables and Node.js scoping
    mocha: true,                              // Adds all of the Mocha testing global variables
    commonjs: false
  },

  rules: {

    /**
     * Node.js
     */
    'callback-return': [1, ['callback', 'cb', 'next', 'done']], // http://eslint.org/docs/rules/callback-return
    'global-require': 0,                      // http://eslint.org/docs/rules/global-require
    'handle-callback-err': [2, '^.*(e|E)rr(or)?'], // http://eslint.org/docs/rules/handle-callback-err
    'no-mixed-requires': 0,                   // http://eslint.org/docs/rules/no-mixed-requires
    'no-new-require': 1,                      // http://eslint.org/docs/rules/no-new-require
    'no-path-concat': 1,                      // http://eslint.org/docs/rules/no-path-concat
    'no-process-env': 0,                      // http://eslint.org/docs/rules/no-process-env
    'no-process-exit': 1,                     // http://eslint.org/docs/rules/no-process-exit
    'no-restricted-modules': 0,               // http://eslint.org/docs/rules/no-restricted-modules
    'no-sync': 1                              // http://eslint.org/docs/rules/no-sync
  }
}
